json('../../js/colors.json')

game-body
  margin: 20px
  display: flex
  flex-flow: column

  #display-and-menu
    display: flex
    flex-direction: row
    height: 100%
    display, menu
      padding: 10px
      flex: 1 1 0
      background-color: colors-lightest_green
      border-radius: 10px
      box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px inset;

