json('../../js/colors.json')

game-header
  padding: 10px
  background-color: colors-dark_green
  border-radius: 10px
  margin-bottom: 20px
  display: flex
  font-weight: bold
  .cash
  	margin-left: auto


