json('../js/colors.json')

header
  flex: 0 0 auto
  padding: 20px
  background-color: colors-darkest_green
  display: flex
  justify-content: center
  align-items: center
  height: 50px

  .greeting
    margin-right: auto

  .logo
    margin-right: auto
    padding: 5px
    border: 2px solid colors-cream

  .form-buttons
    display: flex

  form
    label
      display: block
      &:not(:last-of-type)
        margin-bottom: 15px
      input
        display: block