menu-details
  truck-details
    .buy-row
      display: flex
      button
        margin-left: 20px
    .buttons
      margin-top: 10px
      display: flex
      .next
        margin-left 5px

  location-details
    img
      max-width: 20%
    .rent-row
      display: flex
      button
        margin-left: 20px
    .buttons
      margin-top: 10px
      display: flex
      .next
        margin-left 5px
